<div class="page page-table">
  <section class="panel panel-default table-dynamic" data-ng-controller="TabsDemoCtrl">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Fraud Management</strong></div>
    <div class="panel-body">
      <tabset class="ui-tab">
        <tab heading="IP Blacklist" data-ng-controller="TablesCtrl" ng-init="setTableName('ipblacklist'); setContent(); setAllProperties(['id', 'ip', 'date_modified']); setEditableProperties([{name: 'ip', type: 'ip'}]);">
          <dynamic-table></dynamic-table>
        </tab>
        <tab heading="IP Whitelist" data-ng-controller="TablesCtrl" ng-init="setTableName('ipwhitelist'); setContent(); setAllProperties(['id', 'ip', 'date_modified']); setEditableProperties([{name: 'ip', type: 'ip'}]);">
          <dynamic-table></dynamic-table>
        </tab>
        <tab heading="Address Blacklist" data-ng-controller="TablesCtrl" ng-init="setTableName('addressblacklist'); setContent(); setAllProperties(['id', 'address', 'date_modified']); setEditableProperties([{name: 'address', type: 'text'}]);">
          <dynamic-table></dynamic-table>
        </tab>
        <tab heading="Address Whitelist" data-ng-controller="TablesCtrl" ng-init="setTableName('addresswhitelist'); setContent(); setAllProperties(['id', 'address', 'date_modified']); setEditableProperties([{name: 'address', type: 'text'}]);">
          <dynamic-table></dynamic-table>
        </tab>
      </tabset>
    </div>
  </section>
</div>
