<div class="page page-table">

  <section class="panel panel-default table-dynamic" data-ng-controller="TablesCtrl" ng-init="setTableName('taxdata'); setContent(); setAllProperties(['country']); setEditableProperties([{name:'name', type: 'select', options: ['United States', 'Other Country']}, {name:'tax_calculation', type: 'select', options: ['By Acenda', 'By Specified State/Region']}, {name:'default_tax_rate', type: 'number'}]);">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> {{tableName}}</strong></div>
    <dynamic-table></dynamic-table>
  </section>

</div>
