
<div id="nav-wrapper">
    <ul id="nav" data-ng-controller="NavCtrl" data-slim-scroll data-collapse-nav data-highlight-active>
        <li><a href="/dashboard"> <i class="fa fa-dashboard"></i> Dashboard </a></li>

        <li><a href="/orders"><i class="fa fa-credit-card"></i> Orders</a></li>

         <li>
          <a href="/categories"><i class="fa fa-globe"></i> Products</a>
          <ul>
            <li><a href="/products/categories"><i class="fa fa-caret-right"></i>From Shirt.io</a></li>
            <li><a href="/products/list"><i class="fa fa-caret-right"></i>Artwork Products</a></li>
          </ul>
        </li>

         <li>
          <a href="/designs"><i class="fa fa-image"></i> Artworks</a>
          <ul>
            <li><a href="/artworks/image-library"><i class="fa fa-caret-right"></i>Image library</a></li>
            <li><a href="/artworks/designs"><i class="fa fa-caret-right"></i>Designs</a></li>
          </ul>
        </li>

        <li>
          <a href="/users"><i class="fa fa-image"></i> Customers</a>
          <ul>
            <li><a href="/users/customers"><i class="fa fa-caret-right"></i>Customers</a></li>
            <li><a href="/users/subscribers"><i class="fa fa-caret-right"></i>Subscribers</a></li>
          </ul>
        </li>

        <li><a href="/reviews"><i class="fa fa-newspaper-o"></i> Reviews</a></li>
      
    </ul>
</div>
