
<div id="nav-wrapper">
    <ul id="nav" data-ng-controller="NavCtrl" data-slim-scroll data-collapse-nav data-highlight-active>
        <li><a href="/dashboard"> <i class="fa fa-dashboard"></i> Dashboard </a></li>

        <li><a href="/orders"><i class="fa fa-credit-card"></i> Orders</a></li>

         <li>
          <a href="/categories"><i class="fa fa-globe"></i> Products</a>
          <ul>
            <li><a href="/categories"><i class="fa fa-caret-right"></i>From Shirt.io</a></li>
            <li><a href="/products"><i class="fa fa-caret-right"></i>Artwork Products</a></li>
          </ul>
        </li>

         <li>
          <a href="/designs"><i class="fa fa-image"></i> Artworks</a>
          <ul>
            <li><a href="/image-library"><i class="fa fa-caret-right"></i>Image library</a></li>
            <li><a href="/designs"><i class="fa fa-caret-right"></i>Designs</a></li>
          </ul>
        </li>


        <li><a href="/sitesettings"> <i class="fa fa-cogs"></i> Settings </a></li>
        
        
        <li><a href="/customers"><i class="fa fa-user"></i> Customers</a></li>
        <li><a href="/reviews"><i class="fa fa-newspaper-o"></i> Reviews</a></li>
       
        <li><a href="/reports"><i class="fa fa-bar-chart"></i> Reports</a></li>
    </ul>
</div>
