<div class="page page-dashboard">

  <div class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Reports Dashboard</strong></div>
    <div class="panel-body" data-ng-controller="TabsDemoCtrl">

    <h2 class="text-thin">Orders Reports</h2>
      <hr>

      <a href="#/reports/item-sold" class="btn btn-warning btn-metro">
        <i class="fa fa-gift"></i>
        <span>Items Sold</span>
      </a>

      <a href="#/reports/order-revenue" class="btn btn-warning btn-metro">
        <i class="fa fa-money"></i>
        <span>Revenue</span>
      </a>

      <h2 class="text-thin">Customer Reports</h2>
      <hr>

      <a href="#/reports/customer-revenue" class="btn btn-primary btn-metro">
        <i class="fa fa-user"></i>
        <span>Revenue</span>
      </a>
    </div>

  </div>

</div>
