<div class="page">

  <section class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> My Themes</strong></div>
    <div class="panel-body">

      <h1 class="text-thin">Import - <small>Select a model to import</small></h1>
      <hr>

      <div class="form-group">
        <label class="col-sm-2">Model</label>
        <div class="col-sm-10">
          <span class="ui-select">
            <select>
              <option>Product</option>
              <option>Product Inventory (Variants)</option>
              <option>Customer</option>
              <option>Wishlist</option>
              <option>Registry</option>
            </select>
          </span>
          <input type="file" title="Select File" data-ui-file-upload class="btn-primary btn-lg">
        </div>
      </div>

    </div>
  </section>
</div>
