<div class="page page-table">
  <section class="panel panel-default table-dynamic" ng-controller="SingleOrderCtrl" ng-init="getContent(ID)">
    <div class="panel-heading">
        <strong><span class="glyphicon glyphicon-th"></span> Order {{ID}} - {{singleOrder.date_modified}}</strong></div>
    <div class="panel-body" ng-controller="TabsDemoCtrl">

        <div class="alert alert-warning" ng-if="snapID != undefined">
            <h4>Snapshot details</h4>
            <hr />
            <div ng-repeat="detail in snapshots[snapID - 1].details">
                <span ng-switch on="detail.key">
                    <span ng-switch-when="fraud_results">
                        <b>Fraud</b> : {{ detail.value }}
                    </span>
                    <span ng-switch-when="items">
                        <span ng-repeat="(item_key, item_content) in detail.value">
                            <h4>Item #{{ (item_key+1) }}</h4>
                            <ul>
                                <li ng-repeat="(key, value) in item_content">
                                    <b>{{value.key}}</b>: {{value.before}} <i class="fa fa-arrow-circle-right"></i> {{value.after}}
                                </li>
                            </ul>
                        </span>
                    </span>
                    <span ng-switch-default><b>{{ detail.key }}</b>: {{detail.before}} <i class="fa fa-arrow-circle-right"></i> {{detail.after}}</span>
                </span>
            </div>
            <hr />
                <div class="col-xs-6 text-left">
                    <a tooltip-placement="top" tooltip="Back to original order" tooltip-append-to-body="true" href="#/orders/{{ID}}" class="btn btn-info"><i class="fa fa-fast-backward"></i></a>
                    <a tooltip-placement="top" tooltip="Previous snapshot" tooltip-append-to-body="true" ng-if="snapID < (snapshots.length - 1)" href="#/orders/{{ID}}/snapshot/{{snapID + 1}}" class="btn btn-info"><i class="fa fa-backward"></i></a>
                </div>
                <div class="col-xs-6 text-right">
                    <a tooltip-placement="top" tooltip="Next snapshot" tooltip-append-to-body="true" ng-if="snapID > 1" href="#/orders/{{ID}}/snapshot/{{ snapID - 1 }}" class="btn btn-info"><i class="fa fa-forward"></i></a>
                    <a tooltip-placement="top" tooltip="Last snapshot" tooltip-append-to-body="true" ng-if="snapID > 1" href="#/orders/{{ID}}/snapshot/1" class="btn btn-info"><i class="fa fa-fast-forward"></i></a>
                </div>
                <div style="clear: both"></div>
        </div>
      <button ng-if="snapID == undefined" class="btn btn-info pull-right" ng-print print-element-id="printInvoice"><i class="fa fa-print"></i> Print Invoice</button>
      <tabset class="ui-tab">
        <tab heading="Details">
          <div id="printInvoice">
          <div class="row">
            <div class="col-sm-6">
              <div class="panel panel-default">
                <div class="panel-heading"><strong>Shipping Address</strong> <a class="pull-right" href="javascript:;" style="text-transform: none;" ng-click="openShippingAddressEdit()"><i class="fa fa-edit"></i> Edit</a></div>
                <div class="panel-body">
                  <address>
                    <strong>{{singleOrder.shipping_first_name}} {{singleOrder.shipping_last_name}}</strong><br>
                    {{singleOrder.shipping_street_line1}} {{singleOrder.shipping_street_line2}}<br>
                    {{singleOrder.shipping_city}}, {{singleOrder.shipping_state}} {{singleOrder.shipping_zip}}<br>
                    {{singleOrder.shipping_country}}<br>
                  </address>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="panel panel-default">
                <div class="panel-heading"><strong>Billing Address</strong> <a class="pull-right" href="javascript:;" style="text-transform: none;" ng-click="openBillingAddressEdit()"><i class="fa fa-edit"></i> Edit</a></div>
                <div class="panel-body">
                  <address>
                    <strong>{{singleOrder.billing_first_name}} {{singleOrder.billing_last_name}}</strong><br>
                    {{singleOrder.billing_street_line1}} {{singleOrder.billing_street_line2}}<br>
                    {{singleOrder.billing_city}}, {{singleOrder.billing_state}} {{singleOrder.billing_zip}}<br>
                    {{singleOrder.billing_country}}<br>
                  </address>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <div class="panel panel-primary">
                <div class="panel-heading"><strong>Items</strong></div>
                <div class="panel-body">
                  <form>
                  <div class="row" ng-repeat="item in items">
                    <div class="col-xs-3">
                      <img class="img-responsive">
                    </div>
                    <div class="col-xs-9">
                      <fieldset class="item-border">
                        <legend class="item-border">{{item.name}} - {{item.sku}}</strong></legend>
                        <div class="form-group form-inline">
                          <div class="input-group">
                            <input type="text" class="form-control" ng-model="item.quantity">
                            <div class="input-group-addon">Qty</div>
                          </div>
                          <div class="input-group">
                            <input type="text" class="form-control" ng-model="item.price">
                            <div class="input-group-addon">$</div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label>Status </label>
                          <select class="form-control" ng-model="item.status" ng-options="item for item in statusType"></select>
                        </div>
                        <div class="form-group">
                          <label>Tracking </label>
                          <input type="text" class="form-control" ng-model="item.tracking_number" placeholder="Tracking Number...">
                        </div>
                      </fieldset>
                    </div>
                  </div>
                  <input {{ (snapID == undefined) ? "readonly" : "" }} type="submit" class="btn btn-primary pull-right" value="Save Changes">
                </form>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <div class="panel panel-primary">
                <div class="panel-heading"><strong>Order Total</strong></div>
                <div class="panel-body">
                  <form class="form-horizontal">
                    <div class="form-group">
                      <label class="col-sm-3">Coupon Code</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" ng-model="singleOrder.coupon_code" placeholder="Coupon Codes...">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3">Subtotal</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" ng-model="singleOrder.subtotal" placeholder="Subtotal...">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3">Shipping</label>
                      <div class="col-sm-9">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="singleOrder.shipping_rate" placeholder="Shipping...">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-refresh"></i> Recalculate</button>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3">Tax</label>
                      <div class="col-sm-9">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="singleOrder.tax" placeholder="Tax...">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-refresh"></i> Recalculate</button>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3">Total</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" ng-model="singleOrder.total" placeholder="Total...">
                      </div>
                    </div>
                    <input {{ (snapID == undefined) ? "readonly" : "" }} type="submit" class="btn btn-primary pull-right" value="Save Changes">
                  </form>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <div class="panel panel-dark">
                <div class="panel-heading"><strong>Status & Payment</strong></div>
                <div class="panel-body">
                  <form class="form-horizontal">
                    <div class="form-group">
                      <label class="col-sm-3">Order Date</label>
                      <div class="col-sm-9">
                        <input readonly type="text" class="form-control" ng-model="singleOrder.date_modified" placeholder="Order Date...">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3">Order Status</label>
                      <div class="col-sm-9">
                        <select readonly class="form-control" ng-model="status" ng-options="item for item in statusType"></select>
                      </div>
                    </div>
                    <input readonly type="submit" class="btn btn-primary" style="left: calc(100% - 110px);position: relative;" value="Save Changes">
                  </form>
                  <hr>

                  <form class="form-horizontal">
                    <div class="form-group">
                      <label class="col-sm-3">Unsettled Amount</label>
                      <div class="col-sm-9">
                        <input readonly type="text" class="form-control" ng-model="singleOrder.unsettled" placeholder="Unsettled Amount...">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3">Charge Order</label>
                      <div class="col-sm-9">
                        <div class="input-group">
                          <input readonly type="text" class="form-control" ng-model="singleOrder.charge_amount" placeholder="Charge Order...">
                          <span class="input-group-btn">
                            <button class="btn btn-success" type="button">Delay Capture</button>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3">Card Info</label>
                      <div class="col-sm-9">
                        <input readonly type="text" class="form-control" placeholder="Card Info..." value="{{singleOrder.card_type}} x-{{singleOrder.card_last4}}">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3">Transaction Info</label>
                      <div class="col-sm-9">
                        <input readonly type="text" class="form-control" placeholder="Transaction Info..." value="{{singleOrder.transaction_type}}:{{singleOrder.transaction_id}} - {{singleOrder.transaction_status}}">
                      </div>
                    </div>
                    <hr>
                    <div class="form-group">
                      <div class="col-sm-3">
                        <label class="ui-checkbox"><input ng-model="singleOrder.fraud_check" type="checkbox"><span>Fraud Check</span></label>
                      </div>
                      <div class="col-sm-9">
                        <button class="btn btn-success">Run Fraud Check</button>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3">Fraud Results</label>
                      <div class="col-sm-9">
                        <div>
                          {{singleOrder.fraud_results.maxmind}}
                        </div>
                      </div>
                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>
        </tab>

        <tab heading="Returns" ng-if="snapID == undefined">
          <p>No returns have been placed for this order.</p>
        </tab>

        <tab heading="History" ng-if="snapID == undefined">
            <table class="table">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Author</th>
                  <th>Details</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="(snap_index, snap) in snapshots">
                  <td><i class="fa fa-clock-o" tooltip-placement="top" tooltip="{{snap.date_created}}" tooltip-append-to-body="true"></i> {{snap.date}}</td>
                  <td>{{snap.author}}</td>
                  <td>
                      <div class="alert alert-success" ng-if="snap_index == (snapshots.length - 1)"><i class="fa fa-star"></i> Order placed</div>
                      <div class="alert alert-warning" ng-if="snap.details.length">
                          <div ng-repeat="detail in snap.details">
                              <span ng-switch on="detail.key">
                                  <span ng-switch-when="fraud_results">
                                      <b>Fraud</b> : {{ detail.value }}
                                  </span>
                                  <span ng-switch-when="items">
                                      <span ng-repeat="(item_key, item_content) in detail.value">
                                          <h4>Item #{{ (item_key+1) }}</h4>
                                          <ul>
                                              <li ng-repeat="(key, value) in item_content">
                                                  <b>{{value.key}}</b>: {{value.before}} <i class="fa fa-arrow-circle-right"></i> {{value.after}}
                                              </li>
                                          </ul>
                                      </span>
                                  </span>
                                  <span ng-switch-default><b>{{ detail.key }}</b>: {{detail.before}} <i class="fa fa-arrow-circle-right"></i> {{detail.after}}</span>
                              </span>
                          </div>
                      </div>
                  </td>
                  <td><a href="#/orders/{{ ID }}/snapshot/{{ snap_index + 1 }}" class="btn btn-default"><i class="fa fa-eye"></i> View</a></td>
                </tr>
              </tbody>
            </table>
        </tab>

        <tab heading="Notifications" ng-if="snapID == undefined">
          <div class="panel panel-info" ng-controller="OrderNotificationCtrl">
            <div class="panel-heading">Notification Sender</div>
            <div class="panel-body">
              <form class="form-horizontal">
                <div class="form-group">
                  <label class="col-sm-2">Send to</label>
                  <div class="col-sm-10"><input type="text" class="form-control" value="{{singleOrder.email}}"></div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2">Notification Type</label>
                  <div class="col-sm-10"><select class="form-control" ng-model="notifType" ng-options="item for item in statusType"></select></div>
                </div>
                <input type="submit" class="btn btn-success pull-right" value="Send Email">
              </form>
            </div>
          </div>
        </tab>

      </tabset>
    </div>
  </section>
</div>

<script type="text/ng-template" id="modalEditShippingAddress.html" ng-if="snapID == undefined">
  <div class="modal-header">
    <h3>Edit Shipping Address</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-2">First Name</label>
        <div class="col-sm-10"><input type="text" class="form-control" ng-model="infoToAdd.shipping_first_name"></div>
      </div>
      <div class="form-group">
        <label class="col-sm-2">Last Name</label>
        <div class="col-sm-10"><input type="text" class="form-control" ng-model="infoToAdd.shipping_last_name"></div>
      </div>
      <div class="form-group">
        <label class="col-sm-2">Street Line 1</label>
        <div class="col-sm-10"><input type="text" class="form-control" ng-model="infoToAdd.shipping_street_line1"></div>
      </div>
      <div class="form-group">
        <label class="col-sm-2">Street Line 2</label>
        <div class="col-sm-10"><input type="text" class="form-control" ng-model="infoToAdd.shipping_street_line2"></div>
      </div>
      <div class="form-group">
        <label class="col-sm-2">City</label>
        <div class="col-sm-10"><input type="text" class="form-control" ng-model="infoToAdd.shipping_city"></div>
      </div>
      <div class="form-group">
        <label class="col-sm-2">Zip Code</label>
        <div class="col-sm-10"><input type="text" class="form-control" ng-model="infoToAdd.shipping_zip"></div>
      </div>
      <div class="form-group">
        <label class="col-sm-2">State / Province</label>
        <div class="col-sm-10"><input type="text" class="form-control" ng-model="infoToAdd.shipping_state"></div>
      </div>
      <div class="form-group">
        <label class="col-sm-2">Country</label>
        <div class="col-sm-10"><input type="text" class="form-control" ng-model="infoToAdd.shipping_country"></div>
      </div>
      <div class="form-group">
        <label class="col-sm-2">Phone Number</label>
        <div class="col-sm-10"><input type="text" class="form-control" ng-model="infoToAdd.shipping_phone_number"></div>
      </div>
      <div class="form-group">
        <label class="col-sm-2">Shipping Method</label>
        <div class="col-sm-10"><select class="form-control" ng-model="infoToAdd.shipping_method" ng-options="item for item in shippingType"></select></div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="saveInfo();">Save Info</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</script>

<script type="text/ng-template" id="modalEditBillingAddress.html" ng-if="snapID == undefined">
<div class="modal-header">
<h3>Edit Billing Address</h3>
</div>
<div class="modal-body">
<form class="form-horizontal">
<div class="form-group">
<label class="col-sm-2">First Name</label>
<div class="col-sm-10"><input type="text" class="form-control" ng-model="infoToAdd.billing_first_name"></div>
</div>
<div class="form-group">
<label class="col-sm-2">Last Name</label>
<div class="col-sm-10"><input type="text" class="form-control" ng-model="infoToAdd.billing_last_name"></div>
</div>
<div class="form-group">
<label class="col-sm-2">Street Line 1</label>
<div class="col-sm-10"><input type="text" class="form-control" ng-model="infoToAdd.billing_street_line1"></div>
</div>
<div class="form-group">
<label class="col-sm-2">Street Line 2</label>
<div class="col-sm-10"><input type="text" class="form-control" ng-model="infoToAdd.billing_street_line2"></div>
</div>
<div class="form-group">
<label class="col-sm-2">City</label>
<div class="col-sm-10"><input type="text" class="form-control" ng-model="infoToAdd.billing_city"></div>
</div>
<div class="form-group">
<label class="col-sm-2">Zip Code</label>
<div class="col-sm-10"><input type="text" class="form-control" ng-model="infoToAdd.billing_zip"></div>
</div>
<div class="form-group">
<label class="col-sm-2">State / Province</label>
<div class="col-sm-10"><input type="text" class="form-control" ng-model="infoToAdd.billing_state"></div>
</div>
<div class="form-group">
<label class="col-sm-2">Country</label>
<div class="col-sm-10"><input type="text" class="form-control" ng-model="infoToAdd.billing_country"></div>
</div>
<div class="form-group">
<label class="col-sm-2">Phone Number</label>
<div class="col-sm-10"><input type="text" class="form-control" ng-model="infoToAdd.billing_phone_number"></div>
</div>
<div class="form-group">
<label class="col-sm-2">Email</label>
<div class="col-sm-10"><input type="text" class="form-control" ng-model="infoToAdd.email"></div>
</div>
</form>
</div>
<div class="modal-footer">
<button class="btn btn-primary" ng-click="saveInfo();">Save Info</button>
<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
</script>
