<div class="page page-dashboard">

  <div class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Templates</strong></div>
    <div class="panel-body" data-ng-controller="TabsDemoCtrl">

      <button type="button" class="btn btn-w-sm btn-gap-v btn-danger">Deploy Changes <i class="fa fa-upload"></i></button>
      <button type="button" class="btn btn-w-sm btn-gap-v btn-primary">Preview Site <i class="fa fa-file-image-o"></i></button>

      <h2 class="text-thin">Site Files</h2>
      <hr>

    </div>

  </div>

</div>
