<div class="page">
  <a class="btn btn-warning" href="/products/list">Back to product list</a>
  <section class="panel panel-default" id="onlinedesigner" ng-controller="ProductController as productCtrl">
    <form  ng-submit="productCtrl.addProduct()" class="form-horizontal">
      <div class="panel-heading">
        <strong>
          <span class="glyphicon glyphicon-th"></span> New Product
        </strong>
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">

            <h4>Product Parent</h4>

            <div class="form-group">
              <label for="meta-focus" class="col-sm-3">Product Name</label>
              <div class="col-sm-9">
                <input ng-model="productCtrl.product.name" type="text" class="form-control"></input>
              </div>
            </div>

            <div class="form-group">
              <label for="meta-focus" class="col-sm-3">Design ID</label>
              <div class="col-sm-9">
                <select ng-model="productCtrl.product.design_id" class="form-control">
                    <option ng-repeat="design in productCtrl.product.design_options" value="{{design.id}}">{{design.name}}</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="meta-focus" class="col-sm-3">Page Title</label>
              <div class="col-sm-9">
                <input ng-model="productCtrl.product.title" type="text" class="form-control"></input>
              </div>
            </div>

            <div class="form-group">
              <label for="meta-focus" class="col-sm-3">Page Subtitle</label>
              <div class="col-sm-9">
                <input ng-model="productCtrl.product.subtitle" type="text" class="form-control"></input>
              </div>
            </div>
            <div class="form-group">
              <label for="meta-focus" class="col-sm-3">Description</label>
              <div class="col-sm-9">
                <textarea ng-model="productCtrl.product.description" class="form-control"></textarea>
              </div>
            </div>


            <div class="form-group">
              <label for="meta-focus" class="col-sm-3">Categories</label>
              <div class="col-sm-9">
                <input ng-model="productCtrl.product.categories" type="text" class="form-control"></input>
              </div>
            </div>

           <div class="form-group">
              <label for="meta-focus" class="col-sm-3">Keywords</label>
              <div class="col-sm-9">
                <input ng-model="productCtrl.product.keywords" type="text" class="form-control"></input>
              </div>
            </div>

            <div class="form-group">
              <label for="meta-focus" class="col-sm-3">Meta Description</label>
              <div class="col-sm-9">
                <textarea ng-model="productCtrl.product.meta_description" class="form-control"></textarea>
              </div>
            </div>

            <div class="form-group">
              <label for="meta-focus" class="col-sm-3">Slug URL</label>
              <div class="col-sm-9">
                <input ng-model="productCtrl.product.slug_url" type="text" class="form-control"></input>
              </div>
            </div>

            <div class="form-group">
              <label for="meta-focus" class="col-sm-3">Main Images</label>
              <div class="col-sm-9">
                <img  src="{{ productCtrl.product.design_thumbnail }}"></img>
              </div>
            </div>

            <div class="form-group">
              <label for="meta-focus" class="col-sm-3">Other Images</label>
              <div class="col-sm-9">
                <img style="width:125px;" ng-repeat="image in productCtrl.product.design_images" src="{{ main.cdn_url+'/'+image.path }}"></img>
              </div>
            </div>

            <div class="form-group">
              <label for="meta-focus" class="col-sm-3">Status</label>
              <div class="col-sm-9">
                <select ng-model="productCtrl.product.status" class="form-control">
                  <option value="1">Active</option>
                  <option value="2">Not ready (yet)</option>
                  <option value="3">Disabled (for now)</option>
                  <option value="4">Removed</option>
                </select>
              </div>
            </div>


             <tags-input ng-model="tagsvalue" class="ui-tags-input" id="keywords-focus"></tags-input>


            <!-- <input  type="text" ng-model="selected" typeahead="item for item in items | filter:$viewValue | limitTo:8" class="form-control"  placeholder="Search">  -->                  

<!--
            <div class="form-group">
              <div class="checkbox-nice">
              <label for="meta-focus" class="col-sm-3"> Active</label>
                <div class="col-sm-9">
                  <input type="checkbox" id="checkbox-1" checked="checked">
                </div>
              </div>
            </div>
-->

          <button style="margin-top:20px;" type="submit" class="btn btn-primary btn-lg pull-right" ><i class="fa fa-spin fa-spinner" ng-show="loading"></i> Save Product</button>

        <div style="margin-top: 50px;" class="panel-heading">
        <strong><span class="glyphicon glyphicon-th"></span> Product Variants</strong></div>

        <div class="table-filters">
            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <form class="ng-pristine ng-valid">
                        <input type="text" placeholder="search" class="form-control ng-pristine ng-valid" data-ng-model="searchKeywords" data-ng-keyup="search()">
                    </form>
                </div>
                <div class="col-sm-3 col-xs-6 filter-result-info">
                    <span class="ng-binding">
                        Showing 25/25 entries
                    </span>              
                </div>
            </div>
        </div>

        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th><div class="th">
                        Store Name
                        <span class="glyphicon glyphicon-chevron-up" data-ng-click=" order('name') " data-ng-class="{active: row == 'name'}"></span>
                        <span class="glyphicon glyphicon-chevron-down" data-ng-click=" order('-name') " data-ng-class="{active: row == '-name'}"></span>
                    </div></th>
                    <th><div class="th">
                        Price
                        <span class="glyphicon glyphicon-chevron-up" data-ng-click=" order('price') " data-ng-class="{active: row == 'price'}"></span>
                        <span class="glyphicon glyphicon-chevron-down" data-ng-click=" order('-price') " data-ng-class="{active: row == '-price'}"></span>
                    </div></th>
                    <th><div class="th">
                        Sales (in 30 days)
                        <span class="glyphicon glyphicon-chevron-up" data-ng-click=" order('sales') " data-ng-class="{active: row == 'sales'}"></span>
                        <span class="glyphicon glyphicon-chevron-down" data-ng-click=" order('-sales') " data-ng-class="{active: row == '-sales'}"></span>
                    </div></th>
                    <th><div class="th">
                        Rating
                        <span class="glyphicon glyphicon-chevron-up" data-ng-click=" order('rating') " data-ng-class="{active: row == 'rating'}"></span>
                        <span class="glyphicon glyphicon-chevron-down" data-ng-click=" order('-rating') " data-ng-class="{active: row == '-rating'}"></span>
                    </div></th>
                </tr>
            </thead>
            <tbody>
                <!-- ngRepeat: store in currentPageStores --><tr data-ng-repeat="store in currentPageStores" class="ng-scope">
                    <td class="ng-binding">Nijiya Market</td>
                    <td class="ng-binding">$$</td>
                    <td class="ng-binding">292</td>
                    <td class="ng-binding">4</td>
                </tr><!-- end ngRepeat: store in currentPageStores --><tr data-ng-repeat="store in currentPageStores" class="ng-scope">
                    <td class="ng-binding">Eat On Monday Truck</td>
                    <td class="ng-binding">$</td>
                    <td class="ng-binding">119</td>
                    <td class="ng-binding">4.3</td>
                </tr><!-- end ngRepeat: store in currentPageStores --><tr data-ng-repeat="store in currentPageStores" class="ng-scope">
                    <td class="ng-binding">Tea Era</td>
                    <td class="ng-binding">$</td>
                    <td class="ng-binding">874</td>
                    <td class="ng-binding">4</td>
                </tr><!-- end ngRepeat: store in currentPageStores --><tr data-ng-repeat="store in currentPageStores" class="ng-scope">
                    <td class="ng-binding">Rogers Deli</td>
                    <td class="ng-binding">$</td>
                    <td class="ng-binding">347</td>
                    <td class="ng-binding">4.2</td>
                </tr><!-- end ngRepeat: store in currentPageStores --><tr data-ng-repeat="store in currentPageStores" class="ng-scope">
                    <td class="ng-binding">MoBowl</td>
                    <td class="ng-binding">$$$</td>
                    <td class="ng-binding">24</td>
                    <td class="ng-binding">4.6</td>
                </tr><!-- end ngRepeat: store in currentPageStores --><tr data-ng-repeat="store in currentPageStores" class="ng-scope">
                    <td class="ng-binding">The Milk Pail Market</td>
                    <td class="ng-binding">$</td>
                    <td class="ng-binding">543</td>
                    <td class="ng-binding">4.5</td>
                </tr><!-- end ngRepeat: store in currentPageStores --><tr data-ng-repeat="store in currentPageStores" class="ng-scope">
                    <td class="ng-binding">Nob Hill Foods</td>
                    <td class="ng-binding">$$</td>
                    <td class="ng-binding">874</td>
                    <td class="ng-binding">4</td>
                </tr><!-- end ngRepeat: store in currentPageStores --><tr data-ng-repeat="store in currentPageStores" class="ng-scope">
                    <td class="ng-binding">Scratch</td>
                    <td class="ng-binding">$$$</td>
                    <td class="ng-binding">643</td>
                    <td class="ng-binding">3.6</td>
                </tr><!-- end ngRepeat: store in currentPageStores --><tr data-ng-repeat="store in currentPageStores" class="ng-scope">
                    <td class="ng-binding">Gochi Japanese Fusion Tapas</td>
                    <td class="ng-binding">$$$</td>
                    <td class="ng-binding">56</td>
                    <td class="ng-binding">4.1</td>
                </tr><!-- end ngRepeat: store in currentPageStores --><tr data-ng-repeat="store in currentPageStores" class="ng-scope">
                    <td class="ng-binding">Cost Plus World Market</td>
                    <td class="ng-binding">$$</td>
                    <td class="ng-binding">79</td>
                    <td class="ng-binding">4</td>
                </tr><!-- end ngRepeat: store in currentPageStores -->
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        Show 
                        <select data-ng-model="numPerPage" data-ng-options="num for num in numPerPageOpt" data-ng-change="onNumPerPageChange()" class="ng-pristine ng-valid"><option value="0" label="3">3</option><option value="1" label="5">5</option><option value="2" selected="selected" label="10">10</option><option value="3" label="20">20</option></select> 
                        entries per page
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <ul class="pagination-sm pagination ng-isolate-scope ng-pristine ng-valid" ng-model="currentPage" total-items="filteredStores.length" max-size="4" ng-change="select(currentPage)" items-per-page="numPerPage" rotate="false" boundary-links="true">
                    <!-- ngIf: boundaryLinks --><li ng-if="boundaryLinks" ng-class="{disabled: noPrevious()}" class="ng-scope disabled"><a href="" ng-click="selectPage(1)" class="ng-binding">First</a></li><!-- end ngIf: boundaryLinks -->
                    <!-- ngIf: directionLinks --><li ng-if="directionLinks" ng-class="{disabled: noPrevious()}" class="ng-scope disabled"><a href="" ng-click="selectPage(page - 1)" class="ng-binding">Previous</a></li><!-- end ngIf: directionLinks -->
                    <!-- ngRepeat: page in pages track by $index --><li ng-repeat="page in pages track by $index" ng-class="{active: page.active}" class="ng-scope active"><a href="" ng-click="selectPage(page.number)" class="ng-binding">1</a></li><!-- end ngRepeat: page in pages track by $index --><li ng-repeat="page in pages track by $index" ng-class="{active: page.active}" class="ng-scope"><a href="" ng-click="selectPage(page.number)" class="ng-binding">2</a></li><!-- end ngRepeat: page in pages track by $index --><li ng-repeat="page in pages track by $index" ng-class="{active: page.active}" class="ng-scope"><a href="" ng-click="selectPage(page.number)" class="ng-binding">3</a></li><!-- end ngRepeat: page in pages track by $index -->
                    <!-- ngIf: directionLinks --><li ng-if="directionLinks" ng-class="{disabled: noNext()}" class="ng-scope"><a href="" ng-click="selectPage(page + 1)" class="ng-binding">Next</a></li><!-- end ngIf: directionLinks -->
                    <!-- ngIf: boundaryLinks --><li ng-if="boundaryLinks" ng-class="{disabled: noNext()}" class="ng-scope"><a href="" ng-click="selectPage(totalPages)" class="ng-binding">Last</a></li><!-- end ngIf: boundaryLinks -->
                    </ul>
                </div>
            </div>
        </footer>
    


          </div>

        </div>
      </div>
      <div class="panel-body">
      
      </div>
    </form>
  </section>
</div>
