<div class="page">
  <a class="btn btn-warning" href="/artworks/designs">Back to product list</a>
  <section class="panel panel-default" id="onlinedesigner" ng-controller="DesignerController as designerCtrl">
    <form ng-submit="designerCtrl.addDesign()" class="form-horizontal">
      <div class="panel-heading">
        <strong>
          <span class="glyphicon glyphicon-th"></span> New Product
        </strong>
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">

            <h4>Product Parent</h4>

            <div class="form-group">
              <label for="meta-focus" class="col-sm-3">Product Name</label>
              <div class="col-sm-9">
                <input type="text" class="form-control"></input>
              </div>
            </div>

            <div class="form-group">
              <label for="meta-focus" class="col-sm-3">Page Title</label>
              <div class="col-sm-9">
                <input type="text" class="form-control"></input>
              </div>
            </div>

            <div class="form-group">
              <label for="meta-focus" class="col-sm-3">Page Subtitle</label>
              <div class="col-sm-9">
                <input type="text" class="form-control"></input>
              </div>
            </div>
            <div class="form-group">
              <label for="meta-focus" class="col-sm-3">Description</label>
              <div class="col-sm-9">
                <textarea class="form-control"></textarea>
              </div>
            </div>


            <div class="form-group">
              <label for="meta-focus" class="col-sm-3">Categories</label>
              <div class="col-sm-9">
                <input type="text" class="form-control"></input>
              </div>
            </div>

           <div class="form-group">
              <label for="meta-focus" class="col-sm-3">Keyworkds</label>
              <div class="col-sm-9">
                <input type="text" class="form-control"></input>
              </div>
            </div>

            <div class="form-group">
              <label for="meta-focus" class="col-sm-3">Meta Description</label>
              <div class="col-sm-9">
                <textarea class="form-control"></textarea>
              </div>
            </div>

            <div class="form-group">
              <label for="meta-focus" class="col-sm-3">Slug URL</label>
              <div class="col-sm-9">
                <input type="text" class="form-control"></input>
              </div>
            </div>

            <div class="form-group">
              <label for="meta-focus" class="col-sm-3">Main Images</label>
              <div class="col-sm-9">
                <img src="http://placehold.it/125x90"></img>
              </div>
            </div>

            <div class="form-group">
              <label for="meta-focus" class="col-sm-3">Other Images</label>
              <div class="col-sm-9">
                <img src="http://placehold.it/125x90"></img>
                <img src="http://placehold.it/125x90"></img>
                <img src="http://placehold.it/125x90"></img>
                <img src="http://placehold.it/125x90"></img>
                <img src="http://placehold.it/125x90"></img>
                <img src="http://placehold.it/125x90"></img>
              </div>
            </div>

            <div class="form-group">
              <label for="meta-focus" class="col-sm-3">Status</label>
              <div class="col-sm-9">
                <select class="form-control">
                  <option value="1">Active</option>
                  <option value="2">Not ready (yet)</option>
                  <option value="3">Disabled (for now)</option>
                  <option value="4">Removed</option>
                </select>
              </div>
            </div>


             <tags-input ng-model="tagsvalue" class="ui-tags-input" id="keywords-focus"></tags-input>
<!--
            <div class="form-group">
              <div class="checkbox-nice">
              <label for="meta-focus" class="col-sm-3"> Active</label>
                <div class="col-sm-9">
                  <input type="checkbox" id="checkbox-1" checked="checked">
                </div>
              </div>
            </div>
-->

          <h4>Product Variants</h4>
          <div class="row">
          <div class="col-lg-12">
<div class="main-box clearfix">
<header class="main-box-header clearfix">
<h2>New products</h2>
</header>
<div class="main-box-body clearfix">
<div class="table-responsive">
<table class="table table-products table-hover">
<tbody>
<tr>
<td>
<img src="img/samples/ipad.png" alt="">
</td>
<td>
<span class="name">
iPad mini 32GB WiFi Black&amp;Slate
</span>
<span class="price">
<i class="fa fa-money"></i> $320,00
</span>
<span class="warranty">
<i class="fa fa-certificate"></i> Warranty: 2 years
</span>
</td>
</tr>
<tr>
<td>
<img src="img/samples/ipad.png" alt="">
</td>
<td>
<span class="name">
iPad mini 32GB WiFi Cellular Black&amp;Slate
</span>
<span class="price">
<i class="fa fa-money"></i> $447,29
</span>
<span class="warranty">
<i class="fa fa-certificate"></i> Warranty: 4 years
</span>
</td>
</tr>
<tr>
<td>
<img src="img/samples/ipad.png" alt="">
</td>
<td>
<span class="name">
iPad mini 32GB WiFi Black&amp;Slate
</span>
<span class="price">
<i class="fa fa-money"></i> $320,00
</span>
<span class="warranty">
<i class="fa fa-certificate"></i> Warranty: 2 years
</span>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
          </div>


          </div>

        </div>
      </div>
      <div class="panel-body">
      <button type="submit" class="btn btn-primary btn-lg pull-right" ><i class="fa fa-spin fa-spinner" ng-show="loading"></i> Save Product</button>
      </div>
    </form>
  </section>
</div>
