<div class="page page-table">
	<a class="btn btn-success" href="/products/add">Create a new Product</a>
  <section class="panel panel-default table-dynamic" ng-controller="TablesCtrl" ng-init="setModelRoute('products');setTableName('Products'); setContent('admin/designs','','yes'); setAllProperties(['id', 'name','thumbnail','date_created','date_modified','edit']); setDisplayOnly();">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> {{tableName}}</strong></div>
    <dynamic-table></dynamic-table>
  </section>

</div>
