.table-loading {
  background-image: url('../images/Preloader_3.gif');
  padding: 20px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-position: center center;
}

fieldset.item-border {
  border: 1px solid #66B5D7 !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow:  0px 0px 0px 0px #000;
  box-shadow:  0px 0px 0px 0px #000;
}

.header-panel-shadow {
  box-shadow: 0px 8px 30px #999;
}

legend.item-border {
  font-size: 1.2em !important;
  font-weight: bold !important;
  text-align: left !important;
  width:auto;
  padding:0 10px;
  border-bottom:none;
}

@media screen {
  #printSection {
    display: none;
  }
}
@media print {
  body * {
    visibility:hidden;
  }
  #printSection, #printSection * {
    visibility:visible;
  }
  #printSection {
    position:absolute;
    left:0;
    top:0;
  }
}

#view_site_{
    background: #66B5D7;
    color: #fff;
    position: absolute;
    right: 0px;
    width: 300px;
    padding: 10px 50px 10px 0;
    display: none;
    box-shadow: 3px 3px 1px #ccc;
    font-size: 25px;
}

#view_site_ .row{
    margin: 20px 0 20px 0;
}

#view_site_ a{
    color: #fff;
}

.special-link{
  transition: all 0.2s ease-in-out;
}

.special-link:hover{
  color: #31C0BE;
}

.img-loading{
  background-color: #fff;
  background-image: url('../images/Preloader_3.gif');
  background-repeat: no-repeat;
  background-position: center center;
}

/* DESIGNER */

a {
	transition: color 0.5s, background-color 0.5s;
}

.angular-smooth-anim {
	opacity: 1 !important;
}

.angular-smooth-anim.ng-hide {
	opacity: 0 !important;
}

.angular-smooth-anim.ng-hide-remove.ng-hide-remove-active {
	display:none !important;
}

.angular-smooth-anim {
	transition: all 0.25s ease-in-out;
}

.header-title {
	font-weight: bold;
	color: #1b82b4;
}

.edit-text-box {
	min-height:36px;
	padding:5px;
}

.cart-title {
	color: #25a7cd;
	font-weight: bold;
	padding-left: calc(50% - 40px);
	margin: 0 0 25px 0;
}

.color-preview {
	border: 2px solid #FFF;
	box-shadow: 0px 0px 5px #888;
	margin: 2px;
	vertical-align: top;
	display: inline-block;
	cursor: pointer;
	overflow: hidden;
	width: 27px;
	height: 27px;
}

.color-container {
	/*margin: 10px 3px;*/
	padding: 0;
	display: inline-block;
}

.btn-addcart {
	color: #fff;
	background-color: #39ce79;
	border-bottom-color: #308B5F;
	border-top-color: #A4F6CE;
	width: 100%;
}

.btn-addcart:hover, .btn-addcart:focus {
	color: #fff;
	background-color: #4edc8a;
}

.input-file-container input {
	position: relative;
	margin-left: -16px;
	margin-top: -33px;
	padding-bottom: 16px;
	margin-bottom: -8px;
	width: calc(100% + 32px);
	opacity: 0;
	cursor: pointer;
}

.input-file-container input:hover{
	cursor: pointer;
}

#colorpick-outer {
	background-color: #000;
}

#colorpick-inner {
	width: 22px;
	height: 22px;
	margin: 0;
	padding: 0;
	display: block;
	background-image: url('../img/colorPickOver.png');
}

.behind-product {
	background-color: #ffffff;
	/*background-image: url('../img/crew_front.png');*/
	background-repeat: no-repeat;
	background-size: cover;
	padding: 95px 160px;
}

.btn-group-mar {
	margin-top: 3px;
	margin-bottom: 3px;
}

.btn-side {
	margin-left: calc(50% - 90px);
	margin-top: -75px;
}

.upper-canvas:hover {
	border: 1px solid #333;
}

.navbar-inverse {
	background-color: #222;
	border-color: #FFFFFF;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
	border-radius: 0px;
}

.font-dropdown {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	text-align: left;
	cursor: initial;
	width: 100%;
	background-color: #fff !important;
	border-color: #ccc !important;
	padding-left: 3px;
	padding-top: 9px;
	padding-bottom: 9px;
	font-size: 10px;
}

#fontSelector {
	overflow-y: scroll;
	max-height: 320px;
	margin-top: 0;
	width: calc(100% + 40px);
	margin-left: -40px;
}

.show-cart {
	margin-top: 8px;
	padding: 5px 10px;
	float: right;
}

.select-font {
	cursor: pointer;
}

.tr-header > td {
	color: #bababa;
}

.product-homepage{
	padding-left: 0px;
}

.product-homepage li{
	font-size: 24px;
	margin-right: 10px;
}

.over-title{
	display: block;
	position:relative;
	text-align: center;
	top: -10px;
	opacity: 0.0;

	transition: all 0.4s ease-in-out;
}

.lower-canvas:hover{
  border: 2px solid #FFF;
}

.thumbnail:hover .over-title{
	opacity: 1.0;
	top: 0px;
}
